---
import { sanityClient } from "sanity:client";
import Layout from "../layouts/Layout.astro";
import { siteConfigQuery } from "@/lib/queries";
import { PortableText } from "astro-portabletext";

const data = await sanityClient.fetch(siteConfigQuery);
const { about } = data;
---

<Layout title="Kenny Tye - About">
  <main
    class="flex h-full items-center relative max-h-screen max-w-screen overflow-hidden"
  >
    <div class="rte mx-auto max-w-3xl">
      <PortableText value={about} />
    </div>
  </main>
</Layout>

<style is:global>
  .rte {
    p {
      margin-bottom: 12px;
      letter-spacing: -0.03em;
      font-size: 18px;
      line-height: 1.3;
      letter-spacing: 0.07em;
      font-weight: 500;
      opacity: 0.8;
    }
    a {
      text-decoration: underline;
      @apply relative inline-block;
      transition: all 125ms ease-in-out;
      &::after {
        content: "";
        position: absolute;
        width: calc(100% + 12px);
        left: -6px;
        height: 100%;
        background-color: theme("colors.black");
        transition: all 100ms ease-in-out;
        z-index: -1;
        transform: scaleY(0);
        transform-origin: bottom;
      }
      &:hover,
      &:focus,
      &.active {
        @apply text-white;
        &::after {
          transform: scaleY(1);
        }
      }
    }
  }
</style>
