---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kenny Tye - Blog" description="Kenny Tye Blog">
  <main
    class="flex h-full items-center relative max-h-screen max-w-screen overflow-hidden"
  >
  </main>
</Layout>
