---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kenny Tye - Contact">
  <main
    class="flex h-full justify-center items-center flex-col gap-y-10 relative max-h-screen max-w-screen overflow-hidden px-6"
  >
    <p class="text-18 text-center max-w-2xl font-500 leading-1.3 tracking-7pc">
      I'm currently available for select freelance work. If you'd like to
      connect, please get in touch.
    </p>
    <a
      href="mailto:kennytye.dev@gmail.com"
      target="_blank"
      class="hover:underline">kennytye.dev@gmail.com</a
    >
  </main>
</Layout>

<style></style>
