---
import Layout from "../layouts/Layout.astro";
import BracketHeader from "@/components/BracketHeader.astro";
import "../styles/page-fonts.css";
---

<Layout title="Kenny Tye - Contact">
  <main class="flex flex-col h-full relative overflow-y-scroll px-4 pt-25">
    <div class="mx-auto w-full max-w-3xl">
      <BracketHeader text="Contact" />
      <div class="rte">
        <p class="">I'm currently available for select freelance work.</p>
        <p class="pb-10">If you'd like to connect, please get in touch.</p>
      </div>
      <a
        href="mailto:kennytye.dev@gmail.com"
        target="_blank"
        class="z-10 hover:underline">kennytye.dev@gmail.com</a
      >
    </div>
  </main>
</Layout>
