---
import Layout from "../layouts/Layout.astro";
import { sanityClient } from "sanity:client";
import SelectWorkList from "../components/SelectWorkList.astro";

const data = await sanityClient.fetch(`
  *[_type == "project"] {
    title,
    slug,
    employer->{
      name
    },
    url,
    client,
    type,
    technologies[]->{
      name
    },
  }
`);
---

<Layout title="Kenny Tye Professional Work">
  <main
    class="flex h-full items-center relative max-h-screen max-w-screen overflow-hidden border"
  >
    <div class="w-full h-full bg-white/60 absolute inset-0 backdrop-blur-lg">
    </div>
    <SelectWorkList data={data} />
    <!-- <div class="w-full h-full flex justify-center relative">
        <OrbsContainer data={data.orbs} />
        {activeProject && <FeaturedProjectDetails project={activeProject} />}
      </div> -->
  </main>
</Layout>

<style></style>
