---
import { sanityClient } from "sanity:client";
import { siteConfigQuery } from "@/lib/queries";
import Layout from "../layouts/Layout.astro";
import SelectWorkList from "../components/SelectWorkList.astro";
import FeaturedProjectDetails from "../components/FeaturedProjectDetails.astro";
import InfoFixed from "../components/InfoFixed.astro";

const data = await sanityClient.fetch(siteConfigQuery);
const { selectWork } = data;
---

<Layout title="Kenny Tye Professional Work">
  <main
    class="flex h-full items-center relative"
    x-data="homePageState()"
    x-cloak
  >
    <SelectWorkList data={selectWork} />
    <div
      class="w-full h-full flex justify-center relative overflow-y-scroll transition-colors duration-300 ease-in-out"
    >
      {
        selectWork.map((project: any, index: number) => (
          <FeaturedProjectDetails project={project} index={index} />
        ))
      }
    </div>
    <InfoFixed />
  </main>
</Layout>
