---
const heading = "Kenny Tye";
const subheading = "Web Developer";
const email = "kennytye.dev@gmail.com";
---

<div class="fixed top-4 px-4 z-10 para-lg">
  <h1>{heading}</h1>
  <h2>{subheading}</h2>
  <a href="mailto:kennytye.dev@gmail.com" target="__blank">{email}</a>
</div>
