---
const menuItems = [
  { title: "Home", url: "/", path: "" },
  { title: "Work", url: "/work", path: "/work" },
  { title: "About", url: "/about", path: "/about" },
  { title: "Contact", url: "/contact", path: "/contact" },
];

const currentPath = Astro.url.pathname;
const removeTrailingSlash = (path: any) => path.replace(/\/$/, "");
const pathWithoutTrailingSlash = removeTrailingSlash(currentPath);
---

<nav
  class="fixed top-0 px-4 z-10 border-b border-black/15 w-full bg-white/70 backdrop-blur-md py-3"
>
  <ul class="flex gap-x-8">
    {
      menuItems.map((item) => (
        <li class="h-fit">
          <a
            class={
              pathWithoutTrailingSlash === item.path
                ? "active para-lg link-primary active font-mono"
                : "link-primary para-lg font-mono"
            }
            href={item.url}
          >
            {item.title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
