---
const menuItems = [
  { title: "Home", url: "/" },
  { title: "Work", url: "/work" },
  { title: "Contact", url: "/contact" },
  { title: "About", url: "/about" },
];

const currentPath = Astro.url.pathname;
---

<nav class="fixed top-4 px-4 z-10">
  <ul class="flex gap-x-8">
    {
      menuItems.map((item) => (
        <li class="h-fit">
          <a
            class={
              currentPath === item.url
                ? "active para-lg link-primary active font-mono"
                : "link-primary para-lg font-mono"
            }
            href={item.url}
          >
            {item.title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
