---
const { data } = Astro.props;
---

<ul class="px-4 z-10" style={{ minWidth: "var(--menu-width)" }}>
  <h2 class="pb-3 para-lg">Featured Work</h2>
  {
    data.map((item: any, index: number) => (
      <li class="para-lg hover:italic">
        <button
          class="text-left whitespace-nowrap"
          x-on:click={`handleProjectHover(${index})`}
          x-on:keydown.enter={`handleProjectHover(${index})`}
        >
          {item.title}
        </button>
      </li>
    ))
  }
</ul>
