---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "@/components/BaseHead.astro";
import MainNav from "@/components/MainNav.astro";
import OrbContainer from "@/components/OrbContainer.astro";
import "@fontsource/cutive-mono";
import "@fontsource/lato/300.css";
import "@fontsource/lato/400.css";
import "@fontsource/lato/700.css";

type Props = {
  title: string;
  description: string;
  frontmatter?: {
    title: string;
    description: string;
  };
};

const { frontmatter } = Astro.props;
const title = frontmatter?.title || Astro.props.title;
const description = frontmatter?.description || Astro.props.description;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <ViewTransitions />
  </head>
  <body class="max-h-screen max-w-screen overflow-hidden">
    <OrbContainer />
    <MainNav />
    <slot />
  </body>
</html>
