---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
  }
  html {
    font-family: system-ui, sans-serif;
    color: rgb(var(--foreground-rgb));
    background-color: rgb(var(--background-rgb));
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  .link-primary {
    @apply relative block;
    transition: all 125ms ease-in-out;
    &::after {
      content: "";
      position: absolute;
      width: 0;
      left: -6px;
      height: 100%;
      background-color: theme("colors.black");
      transition: all 100ms ease-in-out;
      z-index: -1;
    }
    &:hover,
    &:focus {
      @apply text-white;
      &::after {
        width: calc(100% + 12px);
      }
    }
    &.disabled {
      @apply opacity-50 pointer-events-none;
    }
  }
  .heading-2xl {
    @apply text-64 leading-1.1 -tracking-1pc;
  }
  .heading-xl {
    @apply text-32 leading-1.2 tracking-0pc  md:text-56 md:leading-1.1 md:-tracking-1pc;
  }
  .heading-lg {
    @apply text-32 leading-1.2 tracking-0pc  md:text-48 md:leading-1.1 md:-tracking-1pc;
  }
  .heading-md {
    @apply text-32 leading-1.2 tracking-0pc  md:text-36;
  }
  .heading-sm {
    @apply text-20 leading-1.2 tracking-0pc  md:text-24;
  }
  .para-lg {
    @apply text-14 leading-1.5 -tracking-5pc;
  }
  .para-sm {
    @apply text-12 leading-1.5 -tracking-5pc;
  }
</style>
